<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="favicon.ico" rel="icon"/>
    <title>Order Details Page</title>
    <link
            crossorigin="anonymous"
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            rel="stylesheet"/>

</head>
<body>
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Order ID</td>
            <td>UserId</td>
            <td>UserName</td>
            <td>Food</td>
            <td>Date</td>
            <td>Amount</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>