<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Meal</title>
</head>


<body>
<header>
    <h2 style="margin-left: 2%">Mealstop</h2>
</header>

<div class="header">
    <div class="menu-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Orders</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="d-flex">

                        <button class="btn btn-outline-success" type="submit">Export csv</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

</div>

<div class="container p-5">
    <table class="table">
        <thead class="bg-primary text-white">
        <tr style="text-align: center; vertical-align: middle">
            <th>Food</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr  th:each="order: ${order_list}" style="text-align: center; vertical-align: middle">
                <td th:text="${order.mealName}"></td>
                <td th:text="${order.date}"></td>
                <td th:text="${order.amount}"></td>
                <td th:text="${order.status}"></td>
                <td>
                    <form th:action="@{/restaurantUpdateOrder/{id}(id=${order.orderId})}" method="post" th:object="${order}">

                        <button class="btn btn-outline-success" type="submit">Processed</button>
                    </form>
                </td>

            </tr>

        </tbody>
    </table>
</div>
</body>
</html>