<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
</head>
<body>
<footer class="footer mt-auto py-3 bg-dark" th:fragment="footer" style = "position:fixed; bottom:0; width:100%;">
    <div class="container">
        <img th:src="@{/images/Meal Stop-logos_white.png}" width="45" height="45"/>
        <span class="text-muted">Meal Stop Application connects customers, restaurants and NGO together.</span>
    </div>
</footer>
</body>
</html>