<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>MealStop</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                    <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
                    <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('homepage')} ? 'nav-link active' : 'nav-link'">
                        <a class="nav-link" th:href="@{/customer/homepage}">Home<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('reviews')} ? 'nav-link active' : 'nav-link'">
                        <a class="nav-link" th:href="@{/customer/reviews}">Reviews<span class="sr-only">(current)</span></a>
                    </li>
                    <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('contact')} ? 'nav-link active' : 'nav-link'">-->
                    <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('orders')} ? 'nav-link active' : 'nav-link'">
                        <a class="nav-link" th:href="@{/customer/reviews}">Orders<span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()" style="float: left;
                    color: #f2f2f2;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;">
                        <form method="post" th:action="@{/logout}">
                            <button class="btn btn-danger btn-sm" type="submit">
                                Sign Out
                            </button>
                        </form>
                    </li>
                </ul>


            </div>
        </nav>
    </body>
</html>