<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>MealStop</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{styles/main.css}" rel="stylesheet" />
    </head>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">
    </script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
    </script>
    <script
            th:src="@{/test.js}">
    </script>

<body class="d-flex flex-column h-100">

    <div th:replace="~{fragments/header :: header}"> </div>

    <div sec:authorize="!isAuthenticated()">
        <p>You have not logged in to the application. Please login to
            continue...</p>
        <a th:href="@{/login}">Click here to log in!</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <section style="background-color: #eee;">
            <div class="container py-5">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3" th:text="${customer.firstName} +' '+ ${customer.lastName}"></h5>
                                <p class="text-muted mb-1" >Customer of MealStop</p>
                                <p class="text-muted mb-4" th:text="${customer.address}"></p>
                                <div class="d-flex justify-content-center mb-2">
                                    <form method="get" th:action="@{/customer/reviews}">
                                        <button class="btn btn-primary" type="submit">View Reviews</button>
                                    </form>

                                    <form method="get" th:action="@{/customer/favorite}" >
                                        <button type="submit" class="btn btn-outline-primary ms-1">View Favorites</button>
                                    </form>
                                </div>
                                <div th:if="${isCustomerRewardsPresent}">
                                    <form th:action="@{/reward/redeem}" method="post" >
                                        <button type="submit" class="btn btn-outline-primary ms-1">Accept rewards</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${customer.firstName} +' '+ ${customer.lastName}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${customer.email}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Mobile</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${customer.mobileNumber}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${customer.address}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">D.O.B</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${customer.dateOfBirth}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Tokens</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${customer.tokens}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


<div  th:replace="~{fragments/footer :: footer}"> </div>
</body>
</html>