<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>MealStop</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"> </div>

<div class="container p-5">
    <table class="table table-striped">
        <thead class="bg-primary text-white">
        <tr>
            <th scope="col">Review Message</th>
            <th scope="col">Review Score</th>
            <th scope="col">Date</th>
            <th scope="col">Restaurant Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="review: ${reviews}">
            <td th:text="${review.reviewMessage}"></td>
            <td th:text="${review.reviewScore}"></td>
            <td th:text="${review.reviewDate}"></td>
            <td th:text="${review.restaurant.restaurantName}"></td>
            <td>
                <form method="get" th:action="@{/customer/update_review/{id}(id=${review.id})}">
                    <button class="btn btn-sm btn-primary" type="submit">
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/customer/delete_review/{id}(id=${review.id})}">
                    <button class="btn btn-sm btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>





<div  th:replace="~{fragments/footer :: footer}"> </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>