<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>MealStop</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link th:href="@{styles/main.css}" rel="stylesheet" />
    </head>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">
    </script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
    </script>
    <script
            th:src="@{/test.js}">
    </script>

<body class="d-flex flex-column h-100">

    <div th:replace="~{fragments/header :: header}"> </div>

    <div sec:authorize="!isAuthenticated()">
        <p>You have not logged in to the application. Please login to
            continue...</p>
        <a th:href="@{/login}">Click here to log in!</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <section style="background-color: #eee;">
            <div class="container py-5">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="https://image.shutterstock.com/image-vector/ngo-organization-black-glyph-icon-260nw-1795132267.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3" th:text="${ngoUser.name}"></h5>
                                <p class="text-muted mb-1" >NGO of MealStop</p>
                                <p class="text-muted mb-4" th:text="${ngoUser.email}"></p>
                                <p class="text-muted mb-4" th:text="${ngoUser.address}"></p>
                                <p class="text-muted mb-4" th:text="${ngoUser.phoneNumber}"></p>
                                <div class="d-flex justify-content-center mb-2">
                                    <form method="get" th:action="@{/customer/favorite}" >
                                        <button type="submit" class="btn btn-outline-primary ms-1">View Orders</button>
                                    </form>
                                </div>
                            </div>
                        </div>
<!--                        <div class="card mb-4 mb-lg-0">-->
<!--                            <div class="card-body p-0">-->
<!--                                <ul class="list-group list-group-flush rounded-3">-->
<!--                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
<!--                                        <i class="fas fa-globe fa-lg text-warning"></i>-->
<!--                                        <p class="mb-0">https://mdbootstrap.com</p>-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
<!--                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>-->
<!--                                        <p class="mb-0">mdbootstrap</p>-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
<!--                                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>-->
<!--                                        <p class="mb-0">@mdbootstrap</p>-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
<!--                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>-->
<!--                                        <p class="mb-0">mdbootstrap</p>-->
<!--                                    </li>-->
<!--                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
<!--                                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>-->
<!--                                        <p class="mb-0">mdbootstrap</p>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="my-3" th:text="${ngoUser.name}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-4" th:text="${ngoUser.email}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-4" th:text="${ngoUser.phoneNumber}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Mobile</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-4" th:text="${ngoUser.phoneNumber}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-4" th:text="${ngoUser.phoneNumber}"></p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status</p>
                                        <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                        <div class="progress rounded mb-2" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status</p>
                                        <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                        <div class="progress rounded mb-2" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


<div  th:replace="~{fragments/footer :: footer}"> </div>
</body>
</html>